{% extends 'base.html' %} {% block content %}
<div class="row">
    <form method="POST" action="/gestao/criadores/editar/{{creator.id}}/">
        {% csrf_token %}
        <div class="form-row">
            {% for c in form %}
            <div class="form-group col-md-6">
                <label for="{{c.id_for_label}}">{{c.label}}</label>
                {{c}} {% for error in c.errors %}
                <div>
                    <p class="error">{{error}}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}