{% extends 'base2.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="list-creator">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/gestao/creators/">
                    {% csrf_token %}
                    <div class="search-creator">
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" name="name" placeholder="Nome do Criador">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary button-search">Procurar</button>
                </form>
            </div>
        </div>
        <table class="table table-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data Nascimento</th>
                    <th>
                        <a href="/gestao/creators/register/">
                            <button type="button" class="btn btn-primary">Novo</button>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for creator in creators %}
                <tr>
                    <td>{{creator.id}}</td>
                    <td>{{creator.name}}</th>
                    <td>{{creator.cpf}}</td>
                    <td>{{creator.date_birth}}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="/gestao/creators/edit/{{creator.id}}/"
                            title="Editar">
                            <img src="{% static 'admin/img/edit.png' %}">
                        </a>
                        |
                        <a type="button" class="btn btn-primary" href="/gestao/creators/delete/{{creator.id}}/"
                            title="Remover">
                            <img src="{% static 'admin/img/trash.png' %}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <p class="result">Resultado: {{creators | length}} criador(es)</p>
        </div>
    </div>
</div>
{% endblock %}