{% extends 'base.html' %} {% block content %}
<div class="col-md-12">
    <table class="table table-list">
        <thead>
            <form method="POST" action="/gestao/criadores/">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="name" for="{{form.name.id_for_label}}">Criador</label>
                        {{form.name}} {% for error in form.name.errors %}
                        <p class="error">{{error}}</p>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary button-search">Procurar</button>
            </form>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
                <th>
                    <a href="/gestao/criadores/cadastrar/">
                        <button type="button" class="btn btn-primary">Novo</button>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for creator in creators %}
            <tr>
                <td>{{creator.id}}</td>
                <td>{{creator.name}}</th>
                    <td>{{creator.cpf}}</td>
                    <td>{{creator.date_birth}}</td>
                    <td>
                        <a href="/gestao/criadores/excluir/{{creator.id}}/">Excluir</a>
                        |
                        <a href="/gestao/criadores/editar/{{creator.id}}/">Editar</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <p class="result">Resultado: {{creators | length}} criador(es)</p>
    </div>
</div>
{% endblock %}