.table-list {
    color: white;
    background-color: #101010;
}

.error {
    color: red;
}

.button-search {
    margin: 10px;
}

.result {
    color: beige;
}

#img-git {
    max-width: 310px;
}

#horse-home {
    max-width: 25%;
}