{% extends 'base2.html' %} {% block content %}
<div class="container">
    <div class="register-creator">
        <form method="POST" action="/gestao/animals/register/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="{{form.name.id_for_label}}">Nome</label>
                    {{form.name}} {% for error in form.name.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <label for="{{form.sex.id_for_label}}">Sexo</label>
                    {{form.sex}} {% for error in form.sex.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="{{form.typing.id_for_label}}">Tipagem</label>
                    {{form.typing}} {% for error in form.typing.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group col-md-12">
                    <label for="{{form.farm.id_for_label}}">Fazenda</label>
                    {{form.farm}} {% for error in form.farm.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary crud-button">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}