{% extends 'base.html' %} {% load static %} {% block content %}
<header class="clearfix">
    <div class="logo">
        <img id="horse-home" src="{% static 'img/cavalo.png' %}" alt="" />
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="main-flexslider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <p class="home-slide-content">
                                <strong>Ovelhas</strong>
                            </p>
                        </li>
                        <li>
                            <p class="home-slide-content">
                                <strong>Gados</strong>
                            </p>
                        </li>
                        <li>
                            <p class="home-slide-content">
                                <strong>Cavalos</strong>
                            </p>
                        </li>
                        <li>
                            <p class="home-slide-content">
                                <strong>E outros</strong>
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</header>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    Veja nossos animais, seus dados e características</cite>
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i>
                    <img src="{% static 'img/animals.png' %}" alt="">
                </i>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="container">
        <h4>Sobre</h4>
        <div class="row">
            <div class="span4 offset1">
                <div>
                    <h2> O amor por fazendas é
                        <strong>grande</strong>
                    </h2>
                    <p>
                        Esse pequeno site foi "desenvolvido" não sei pra que, pois não necessidade alguma de criar um site que mostre os donos de
                        determinada fazenda, ou até mesmo, os animais que estão na mesma. Mas aqui está a lista dos desenvolvedores
                        do site:
                    </p>
                </div>
            </div>

            <div class="span6">
                <div class="aligncenter">
                    <img id="img-git" src="{% static 'img/git.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2 offset1 flyIn animated fadeInUp">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/img-1.jpg' %}" alt="">
                    <h3>Enoque</h3>
                    <p>
                        Art director
                    </p>
                </div>
            </div>
            <div class="span2 flyIn animated fadeInUp">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/img-2.jpg' %}" alt="">
                    <h3>Bruno</h3>
                    <p>
                        Web developer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn animated fadeInUp">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/img-3.jpg' %}" alt="">
                    <h3>Matheus</h3>
                    <p>
                        Web designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn animated fadeInUp">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/img-4.jpg' %}" alt="">
                    <h3>Muller</h3>
                    <p>
                        UI designer
                    </p>
                </div>
            </div>
            <div class="span2 flyIn animated fadeInUp">
                <div class="people">
                    <img class="team-thumb img-circle" src="{% static 'img/team/img-5.jpg' %}" alt="">
                    <h3>Jailsin</h3>
                    <p>
                        Digital imaging
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}