{% extends 'base2.html' %} {% block content %}
<div class="container">
    <div class="edit-farm">
        <form method="POST" action="/gestao/fazendas/editar/{{farm.id}}/">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="{{form.name.id_for_label}}">Nome</label>
                    {{form.name}} {% for error in form.name.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <label for="{{form.cpf.id_for_label}}">CPF</label>
                    {{form.address}} {% for error in form.address.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="{{form.creator.id_for_label}}">Criador</label>
                    {{form.creator}} {% for error in form.creator.errors %}
                    <div>
                        <p class="error">{{error}}</p>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary crud-button">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}