.error {
    color: red;
}

.result {
    margin-top: 30px;
    color: #688a7e;
}

.form-farm {
    margin-top: 70px;
}

.form {
    margin-right: 150px
}

.submit-filter {
    margin-top: -1px;
    width: 55px;
    height: 28px;
}

#edit-animal, 
.register-creator,
.list-animal, 
.edit-farm, 
.register-farm, 
.list-creator, 
.list-form {
    margin-top: 100px;
}

.search-creator {
    margin-top: 50px;
}

.button-search {
    margin-left: -10px;
    margin-top: 2px;
}